.Rproj.user
.Rhistory
.RData
.Ruserdata
10_2018_Runs/10_2018_Runs.zip
10_2018_Runs/~$rst Scenarios Oct 2018.docx
10_2018_Runs/Run_Results_October_2018.docx
10_2018_Runs/~$rst Scenarios Oct 2018.docx
10_2018_Runs/~$rst Scenarios Oct 2018.docx
12_2018_Runs/12_2018_Runs.7z
12_2018_Runs/Run_Results_December_2018.docx
12_2018_Runs/First Scenarios Oct 2018 revised 20181204 (2).docx
12_2018_Runs/GC 1/sir_gc1.RData
*.RData
12_2018_Runs/12_2018_Runs.zip
*.7z
.RDataTmp
